---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";
// Our variables
// http://paletton.com/#uid=63G0W0kzUuzlqCIri-0BIomHkiY
// http://paletton.com/#uid=53G0F0kzUuzlqCIri-0BIomHkiY
// http://paletton.com/#uid=53G0u0kzUuzlqCIri-0BIomHkiY
$base-font-family: 'Lato', Helvetica, Arial, sans-serif;
$header-font-family: 'Raleway', Helvetica, Arial, sans-serif;

$base-font-size: 16px;
$base-font-weight: 400;
$small-font-size: $base-font-size * 0.875;
$base-line-height: 1.5em;

$spacing-unit: 30px;

$text-color: #F5F5F5;
$background-color: #0D46A1;

$article-color: #00B436;
$project-color: #F39B00;
$brand-color: #2a7ae2;

$grey-color: #fff;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark: darken($grey-color, 25%);
// Width of the content area
$content-width: 800px;
$on-palm: 600px;
$on-laptop: 800px;


// Use media queries like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }

@mixin media-query($device) {
  @media screen and (max-width: $device) {
    @content;
  }
}
// Import partials from `sass_dir` (defaults to `_sass`)
@import
    "hovercss/hover.scss",
    "mixins",
    "base",
    "layout",
    "navigation";