---
 # Only the main Sass file needs front matter (the dashes are enough)
---

@charset  "utf-8"; // Our variables
$lato: 'Lato', Helvetica, Arial, sans-serif;
$raleway: 'Raleway', Helvetica, Arial, sans-serif;
$base-font-family: $lato;
$header-font-family: $raleway;
$base-font-size: calc(100% + 0.5vw);
$base-font-weight: 400;
$base-line-height: 1.5em;
$spacing-unit: 30px;

/*
 * Colors
 */
$dark-color: #212121;
$grey-color: #fff;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark: darken($grey-color, 25%);
$white-color: #f5f5f5;
$blue-color: #0D46A1;
$light-blue-color: #436DB1;
$gold-color: #AD7A39;
$green-color: #50BA69;

$text-color: $dark-color;
$background-color: $white-color;
$emphasis-color: $light-blue-color;
$article-color: $gold-color;
$project-color: $green-color;

$color-map: (default: $emphasis-color, articles: $article-color, projects: $project-color, about: $background-color);


$facebook-color: #3b5999;
$twitter-color: #55acee;
$linkedin-color: #0077B5;


// Breakpoints
$content-width: 800px;
$on-palm: 600px;
$on-laptop: 800px;

// Timing for transition
$load-post-timing: .4s;

// Use media queries like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
   @media screen and (max-width: $device){
    @content;
  }
}
// Import partials from `sass_dir` (defaults to `_sass`)
@import "hovercss/hover.scss",
        "font/lato",
        "font/raleway",
        "mixins",
        "base",
        "fragments/about",
        "fragments/content",
        "fragments/home",
        "fragments/list",
        "layout",
        "components/breadcrumb",
        "components/highlight",
        "components/links",
        "components/list",
        "components/navigation",
        "components/notification",
        "components/tooltip",
        "components/poppify",
        "components-color";