<div id="home" class="pt-page pt-page-1">
  {% include navigation.html parent="-1"%}

  <h1 class="main-title">{{ site.title }}</h1>
  <!-- <p class="short-description">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit...
  </p>
  <p class="author">
    Valentin Carmignac
  </p> -->

  <!-- <div class="articles" >
      <h3><a href="{{ "/articles" | prepend: site.baseurl }}">POSTS</a></h3>
  </div>
  <div class="projects" >
      <h3><a href="{{ "/projects" | prepend: site.baseurl }}">ARTICLES</a></h3>
  </div> -->

  <!-- <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p> -->

</div>
