<script type="text/javascript">
  transitions = {
    right: 1,
    left: 2,
    down: 11,
    up: 12
  }
</script>
<script src="{{ "/js/jquery.min.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/js/underscore-min.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/js/modernizr.min.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/js/icons.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/js/pagetransitions.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/js/poppify.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/js/ctrl_c.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/js/blog_manager.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/js/main.js" | prepend: site.baseurl }}"></script>
