<div class="navigation" >
  <div class="newest" data-info="newest">
   <svg class="bl-arr-left"><use xlink:href="#bl-arr-left"></use></svg>
  </div>
  <div class="share" data-info="share">
   <svg class="bl-share"><use xlink:href="#bl-share"></use></svg>
  </div>
  <div class="info" data-info="about me">
   <svg class="bl-info"><use xlink:href="#bl-info"></use></svg>
  </div>

  {% if include.parent  %}
  <div class="go-up" data-info="go up" data-parent="{{include.parent}}">
   <svg class="bl-arr-up"><use xlink:href="#bl-arr-up"></use></svg>
  </div>
  {% endif %}
  <div class="older" data-info="older">
   <svg class="bl-arr-right"><use xlink:href="#bl-arr-right"></use></svg>
  </div>
</div>
