body {
  margin: 0;
  color: $text-color;
  font-family: $base-font-family;
  font-size: $base-font-size;

}

#home {
    background-color: $background-color;
}

#list {
  background-color: pink;
}

#content {
  background-color: green;
}

/**
 * Page HOME
 */
h1.main-title {
  text-align: center;
  font-family: $header-font-family;
  font-size: 5em;
  font-variant: small-caps;
  font-weight: 100;
  padding-top: 1em;

  &::after{
    border-top: .0005em solid rgba($text-color, .5);
    content: '';
    display: block;
    margin: 0 auto;
    margin-top: 0.2em;
    width: 10%;
  }
}

p.blog-description {
  text-align: center;
  font-size:1em;
}

#cat-link {
  .articles, .projects {
    font-family: $header-font-family;
    font-size: 2em;
  }

  .articles {
    color: $article-color;
    text-align: left;
  }

  .projects {
    text-align: right;
    background-color: $project-color;
  }
}
