#home, #list, #content {
  // position: relative;
  // height: 100vh;
}

#home {
  .articles, .projects {
    position: absolute;
    bottom: 0;

    width: 50%;
    height: 50%;

    background-color: $article-color;
    text-align: center;
    vertical-align: middle;
  }

  .articles {
    left: 0;
  }

  .projects {
    right: 0;

    background-color: $project-color;
  }
}

.post-list {
  width: 100%;
  display: inline-flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: flex-start;
  align-content: flex-start;

  .post {
    background-color: lighten($background-color, 20%);
  }
}
