@function headings($from:1, $to:6) {
   @if $from == $to{
    @return 'h#{$from}';
  }
  @else {
     @return 'h#{$from},' + headings($from+1, $to);
  }
}
@mixin neutral-a {
  text-decoration: none;
  color          : inherit;

  &:focus {
    outline: none;
  }
}
@mixin keyframes($animation-name) {
   @-webkit-keyframes #{$animation-name}{
    @content;
  }
  @-moz-keyframes #{$animation-name} {
     @content;
  }
  @-ms-keyframes #{$animation-name} {
     @content;
  }
  @-o-keyframes #{$animation-name} {
     @content;
  }
  @keyframes #{$animation-name} {
     @content;
  }
}
@mixin animation($str) {
  -webkit-animation: #{$str};
  -moz-animation   : #{$str};
  -ms-animation    : #{$str};
  -o-animation     : #{$str};
  animation        : #{$str};
}
@mixin transform($transform...) {
  -webkit-transform: $transform;
  -moz-transform   : $transform;
  -ms-transform    : $transform;
  transform        : $transform;
}
@mixin transition($args...) {
  -webkit-transition: $args;
  -moz-transition   : $args;
  -ms-transition    : $args;
  -o-transition     : $args;
  transition        : $args;
}
@mixin transform-origin($transform...) {
  -webkit-transform-origin: $transform;
  -moz-transform-origin   : $transform;
  -ms-transform-origin    : $transform;
  transform-origin        : $transform;
}
@mixin writing-mode($mode) {
  -webkit-writing-mode: $mode;
  -moz-writing-mode   : $mode;
  -ms-writing-mode    : $mode;
  -o-writing-mode     : $mode;
  writing-mode        : $mode;
}
@mixin select($mode) {
  -webkit-touch-callout: $mode;
  -webkit-user-select  : $mode;
  -khtml-user-select   : $mode;
  -moz-user-select     : $mode;
  -ms-user-select      : $mode;
  user-select          : $mode;
}