.menu {
  cursor: default;
  margin  : 20px;
  position: absolute;
  right   : 0;
  top     : 0;

  [class^="bl-"],
  [class*=" bl-"] {
    display: block;
    margin : auto;
    height : 1rem;
    width  : 1rem;
  }

  & > span {
    font-size: 1.5rem;
    font-weight: 100;
    line-height: 1.5rem;
    vertical-align: top;

    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select:none;
    -o-user-select:none;
    user-select:none;

  }

  & > div {
    border-radius : 1rem;
    color         : $background-color;
    cursor        : pointer;
    display       : inline-block;
    fill          : $text-color;
    margin-right  : 0.15rem;
    margin-left: 0.15rem;
    padding       : 0.2rem;
    vertical-align: top;
    max-width     : 1rem;
    // @include animation (close-nav .5s ease-in-out forwards);

    &.hidden {
      display: none;
    }

    &::after {
      content       : attr(data-info);
      visibility    : hidden;
      font-weight   : 900;
      font-size     : 0.7rem;
      letter-spacing: 0.2rem;
      line-height   : 1rem;
      overflow      : hidden;
      max-height    : 0;
      text-align    : center;
      text-transform: uppercase;
      text-overflow : ellipsis;
      vertical-align: middle;
      white-space   : nowrap;
      word-break    : keep-all;
      word-wrap     : normal;
      -webkit-writing-mode: tb-rl;
      -moz-writing-mode: tb-rl;
      -ms-writing-mode: tb-rl;
      -o-writing-mode: tb-rl;
      writing-mode: tb-rl;
      //@include animation (close-nav-info 1s ease-in-out forwards);
    }

    &:hover {
      @include animation (open-nav 0.5s ease-out forwards);

      &::after {
        display   : block;
        visibility: visible;
        @include animation (open-nav-info 0.45s ease-in forwards);
      }
    }
  }
}

@include keyframes(open-nav) {
  from {
    background-color: rgba($text-color, 0.1);
    color           : $background-color;
    fill            : $background-color;
  }

  50% {
    background-color: rgba($text-color, 0.5);
  }

  to {
    background-color: $text-color;
    color           : $background-color;
    fill            : $background-color;
  }
}

@include keyframes(close-nav) {
  from {
    background-color: $text-color;
    color           : $background-color;
    fill            : $background-color;
  }

  50% {
    background-color: rgba($text-color, 0.9);
  }

  to {
    background-color: rgba($text-color, 0.1);
    color           : $background-color;
    fill            : $background-color;
  }
}

@include keyframes(open-nav-info) {
  from {
      padding-top: 0;
    }

    50% {
      max-height: 0;
    }

    70% {
      max-height: 10rem;
      padding-top   : 0.8rem;
    }

    to {
      max-height: 10rem;
      padding-top   : 0.6rem;
      padding-bottom: 0.1rem;
      color     : $background-color;
    }
}

@include keyframes(close-nav-info) {
  from {
    max-height : 10rem;
    padding-top: 0.6rem;
    color      : $background-color;
  }

  30% {
    max-height : 5rem;
    padding-top: 0.8rem;
  }

  50% {
    max-height: 3rem;
    color     : $background-color;
  }

  to {
    max-height: 0;
  }
}