/*
 * PAGE CONTENT
 */
#content  {
  opacity: 1;
  overflow-y: scroll;
  .wrapper {
    @mixin post-transition($suffix, $translate, $opacity) {
      &.transition-#{$suffix} {
        opacity: $opacity;
        @include transform (translateX($translate));
        @include transition (transform $load-post-timing, opacity $load-post-timing);
        @content;
      }
    }

    @include post-transition (out-left, -50%, 0) {
      @include transform-origin (left);
    }

    @include post-transition (load-right, 100%, 0);

    @include post-transition (in-left, 0, 1) {
      @include transform-origin (right);
    }
  }
}
