/**
 * Page HOME
 */
#home {
  h1.main-title {
    color: $text-color;
    font-family : $header-font-family;
    font-size   : 5em;
    font-variant: small-caps;
    font-weight : 100;
    padding-top : 1vh;
    text-align  : center;

    &::after {
      border-top: 0.05rem solid rgba($text-color, .5);
      content   : '';
      display   : block;
      margin    : 0.2rem auto 0;
      width     : 10%;
    }
  }

  p.blog-description {
    font-size   : 1.1rem;
    font-variant: small-caps;
    font-weight : bold;
    line-height : 0.8 + 1.1rem;
    position: relative;
    text-align  : center;

    span.hvr-sweep-to-right {
      color         : $background-color;
      display: inline-block;
      font-weight: normal;
      margin-left   : 0.3em;
      padding-left  : 0.3rem;
      padding-right : 0.3rem;
      position: absolute;
      vertical-align: top;

      &::before {
        background-color: $text-color;
      }
    }

    &:hover span {
      @extend .hvr-sweep-to-right:hover;
    }
  }

  #cat-link {
    .articles,
    .projects {
      font-family: $header-font-family;
      font-size  : 2rem;
    }

    .articles {
      color     : $article-color;
      text-align: left;
    }

    .projects {
      color     : $project-color;
      text-align: right;
    }
  }
}