/*
 * PAGE LIST
 */
#list {
  overflow-y: scroll;
  .wrapper {
    padding-top: 1rem;

    h1 {
      font-size   : 2rem;
      font-variant: small-caps;
      margin-top  : 0.5rem;
      text-align  : center;
    }
  }
}