<div class="menu">

  <div class="search" data-info="search">
    {% include components/svg.html id="search" %}
  </div>
  <div class="share">
    {% include components/svg.html id="share" %}
    <ul class="social">
      <li><a href="#" rel="twitter" target="_blank">{% include components/svg.html id="twitter" %}</a></li>
      <li><a href="#" rel="facebook" target="_blank">{% include components/svg.html id="facebook" %}</a></li>
      <li><a href="#" rel="linkedin" target="_blank">{% include components/svg.html id="linkedin" %}</a></li>
    </ul>
  </div>
  <div class="info" data-info="about me">
    {% include components/svg.html id="info" %}
  </div>

  {% if include.enableNav and include.enableNav == "true" %}
  <span class="separator">&#10744;</span> {% if include.left and include.left == "true" %}
  <div class="go-left" data-info="newest">
    {% include components/svg.html id="arrow-left" %}
  </div>
  {% endif %}
  <div class="go-up" data-info="go up" {% if include.index %}data-index="{{include.index}}" {% endif %}>
    {% include components/svg.html id="arrow-up" %}
  </div>
  {% if include.right and include.right == "true" %}
  <div class="go-right" data-info="older">
    {% include components/svg.html id="arrow-right" %}
  </div>
  {% endif %} {% endif %}
</div>