<div class="menu" >

  <div class="share" data-info="share">
   <svg class="bl-share"><use xlink:href="#bl-share"></use></svg>
  </div>
  <div class="info" data-info="about me">
   <svg class="bl-info"><use xlink:href="#bl-info"></use></svg>
  </div>

  {% if include.enableNav and include.enableNav == "true" %}
  <span class="separator">&#10744;</span>
  <div class="newest" data-info="newest">
   <svg class="bl-arrow-left"><use xlink:href="#bl-arrow-left"></use></svg>
  </div>
  <div class="go-up" data-info="go up" {% if include.index  %}data-index="{{include.index}}"{% endif %}>
   <svg class="bl-arrow-up"><use xlink:href="#bl-arrow-up"></use></svg>
  </div>
  <div class="older" data-info="older">
   <svg class="bl-arrow-right"><use xlink:href="#bl-arrow-right"></use></svg>
  </div>
  {% endif %}
</div>
