<div class="menu" >

  <div class="share" data-info="share">
    {% include components/svg.html id="share" %}
  </div>
  <div class="info" data-info="about me">
    {% include components/svg.html id="info" %}
  </div>

  {% if include.enableNav and include.enableNav == "true" %}
  <span class="separator">&#10744;</span>
  <div class="go-left" data-info="newest">
    {% include components/svg.html id="arrow-left" %}
  </div>
  <div class="go-up" data-info="go up" {% if include.index  %}data-index="{{include.index}}"{% endif %}>
    {% include components/svg.html id="arrow-up" %}
  </div>
  <div class="go-right" data-info="older">
    {% include components/svg.html id="arrow-right" %}
  </div>
  {% endif %}
</div>
