<div id="home" class="pt-page pt-page-1">
  {% include components/navigation.html index="0"%}

  <h1 class="main-title">{{ site.title }}</h1>
  <p class="blog-description">{{ site.description }}</p>
  <!-- <p class="author">
    Valentin Carmignac
  </p> -->

  <!-- <div class="articles" >
      <h3><a href="{{ "/articles" | prepend: site.baseurl }}">POSTS</a></h3>
  </div>
  <div class="projects" > 
      <h3><a href="{{ "/projects" | prepend: site.baseurl }}">ARTICLES</a></h3>
  </div> -->

  <!-- <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p> -->

  <p id="cat-link">
    <a class="articles" href="#">Articles</a>
    <a class="projects" href="#">Projects</a>
  </p>
</div>