/*
 * LINKS IN PARAGRAPHS
 */
p {
  a {
    padding : 0.2em 0.4em;
    position: relative;
    z-index : 1;

    &::before {
      background-color   : $text-color;
      backface-visibility: hidden;
      color              : transparent;
      content            : attr(href);
      display            : block;
      font-family        : $header-font-family;
      font-size          : 0.8em;
      font-weight        : 700;
      letter-spacing     : 0.05em;
      line-height        : 2;
      opacity            : 0.1;
      position           : absolute;
      text-align         : center;
      text-overflow      : ellipsis;
      overflow           : hidden;
      top                : -50%;
      left               : -50%;
      height             : 200%;
      vertical-align     : 50%;
      width              : 200%;
      white-space        : nowrap;
      @include transform(scale(.5));
      @include transition(transform .2s);
    }

    &:hover {
      &::before {
        color  : $background-color;
        height : auto;
        padding: 0.5em 1em;
        opacity: 1;
        @include transform(translateY(-100%), scale(1));
        @include transition(transform .2s);
      }
    }
  }
}