.menu {
  cursor  : default;
  margin  : 20px;
  opacity : 1;
  position: absolute;
  right   : 0;
  top     : 0;

  [class*=" bl-"],
  [class^="bl-"] {
    display: block;
    height : 1rem;
    margin : auto;
    width  : 1rem;
  }

  & > span {
    font-size     : 1.5rem;
    font-weight   : 100;
    line-height   : 1.5rem;
    vertical-align: top;
    @include select (none);
  }

  & > div {
    border-radius : 1rem;
    color         : $background-color;
    cursor        : pointer;
    display       : inline-block;
    fill          : $text-color;
    margin-right  : 0.15rem;
    margin-left   : 0.15rem;
    opacity       : 1;
    padding       : 0.2rem;
    vertical-align: top;
    max-width     : 1rem;

    &.hidden {
      display: none;
    }

    &:not(.share)::after {
      content       : attr(data-info);
      font-weight   : 900;
      font-size     : 0.7rem;
      letter-spacing: 0.2rem;
      line-height   : 1rem;
      max-height    : 0;
      overflow      : hidden;
      text-align    : center;
      text-transform: uppercase;
      text-overflow : ellipsis;
      vertical-align: middle;
      visibility    : hidden;
      white-space   : nowrap;
      word-break    : keep-all;
      word-wrap     : normal;
      @include writing-mode (tb-rl);
    }

    .social {
      display        : block;
      line-height    : 1rem;
      list-style-type: none;
      margin         : 0;
      max-height     : 0;
      overflow       : hidden;
      padding        : 0;
      text-align     : center;
      text-transform : uppercase;
      text-overflow  : ellipsis;
      vertical-align : middle;

      li {
        display       : block;
        padding-bottom: 0.3em;
      }

      a {
        display: block;
        fill   : $background-color;
      }
    }

    &:hover {
      @include animation (open-nav .5s ease-out forwards);

      &::after,
      .social {
        display   : block;
        visibility: visible;
        @include animation (open-nav-info .45s ease-in forwards);
      }
    }
  }

  &.transition-out {
    @include transform (translateX(120%));
    @include transform-origin (right);
    @include transition (transform $load-post-timing);
  }

  &.transition-in {
    @include transform (translateX(0));
    @include transform-origin (right);
    @include transition (transform $load-post-timing ease-out);
  }
}
@include keyframes(open-nav) {
  from {
    background-color: rgba($background-color, .1);
    color           : $background-color;
    fill            : $background-color;
  }

  50% {
    background-color: rgba($text-color, .5);
  }

  to {
    background-color: $text-color;
    color           : $background-color;
    fill            : $background-color;
  }
}
@include keyframes(open-nav-info) {
  from {
    padding-top: 0;
  }

  50% {
    max-height: 0;
  }

  70% {
    max-height : 10rem;
    padding-top: 0.8rem;
  }

  to {
    max-height    : 10rem;
    padding-top   : 0.6rem;
    padding-bottom: 0.1rem;
    color         : $background-color;
  }
}