<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    <div id="pt-main" class="pt-perspective">

      {% include fragments/home.html %}

      {% include fragments/list.html %}

      {% include fragments/content.html %}

      {% include fragments/about.html %}

    </div>

  </body>

  {% comment %}
    Your page has to implement these values in json.
    var initData = {
      active_page: '#home', // id of the active section on open
      section: 'articles', // wich section is selected (projects, articles)
      post_id: '', // Id of the displayed post (if necessary)
    };
  {% endcomment %}
  <script type="text/javascript">
  // {{page.section}} - {{page.collection}}
  var initData = {
    {% if page.activePage %}
      active_page: '{{page.activePage}}', {% else %} active_page: null,
    {% endif %}
    {% if page.collection %}
      section: '{{page.collection}}',
    {% elsif page.section %}
      section: '{{page.section}}',
    {% else %}
      section: null,
    {% endif %}
    {% if page.title %}
      post_id: '{{ page.title | xml_escape }}' {% else %} post_id: null
    {% endif %}
  };
  </script>

  {% include javascript.html %}

</html>
